/* Base Styles */
body {
  color: rgb(234, 239, 255);
  text-align: center;
  background-color: rgb(, 212, 208);
  font-family: "Arial", "Helvetica", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Typography */

/* Links & Accents */

/* Images */

/* Hero Section */

/* Main Content */

/* About Section */

/* Specials Section */

/* Visit Us Section */

iframe {
  width: 100%;
  height: 350px;
}

/* Footer */
footer {
  margin-top: 48px;
}
